@using CompleteMVC.ViewModel
@model LogInVM
@section TitleSection{
    ProfileView
}
@section HeaderSection{
    <style>
        .widthForm {
            width: 70%;
        }
    </style>
}
@section ContentBody{
    @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
    @using (Html.BeginForm("LogIn", "UserRegistration", FormMethod.Post))
    {
        <div class="form-inline">
            <div class="form-group widthForm">
                @Html.LabelFor(m => m.UserEmail, "Email", new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control .has-error" }) &nbsp;@Html.ValidationMessageFor(m => m.UserEmail)
                </div>
            </div>
            <div class="form-group widthForm">
                @Html.LabelFor(m => m.UserPassword, "Password", new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.PasswordFor(m => m.UserPassword, new { @class = "form-control" })&nbsp;@Html.ValidationMessageFor(m => m.UserPassword,"", new { @class="danger"})
                </div>
            </div>
            <div class="form-group widthForm">
                @Html.ActionLink("* Forgot Password", "ForgotPassword", "User")
            </div>
            <div class="form-group widthForm">
                <div class="col-sm-offset-2 col-sm-4">
                    <input type="submit" id="LogIn" name="LogIn" value="Log In" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
}

