
@using CompleteMVC.ViewModel
@model UserSocialDetailsVM

@section TitleSection{
    UserPhysicalDetails
}
@section HeaderSection{
    <style>
        table {
            border: 1px solid Black;
        }

        tr {
            border: 1px solid Black;
        }

        td {
            border: 1px solid Black;
        }

        th {
            border: 1px solid Black;
        }

        .error {
            color: darkred;
        }

        .JobFieldHide {
            display: none;
        }

        .JobFieldShow {
            visibility: visible;
        }
    </style>
    <script>

        function GetStatesList(sourcecontrolname, destcontrolname, cityControlName) {
            var sourcecontolId = '#' + sourcecontrolname;
            var destControlId = '#' + destcontrolname;
            var cityControlId = '#' + cityControlName;
            var Id = $(sourcecontolId).val();
            if (Id == "") {
                var markupState = "<option value=''>Select State...</option>";
                var markupCity = "<option value=''>Select City...</option>";
                $(destControlId).html(markupState); // clear before appending new list
                $(cityControlId).html(markupCity); // clear before appending new list
            }

            $.ajax({
                url: '/UserRegistration/GetStates',
                type: "POST",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                data: "{'Id':'" + Id + "'}",
                success: function (states) {
                    $(destControlId).html(""); // clear before appending new list

                    var markup = "<option value=''>Select State...</option>";
                    for (var x = 0; x < states.length; x++) {
                        markup += "<option value=" + states[x].Value + ">" + states[x].Text + "</option>";
                    }
                    $(destControlId).html(markup).show();
                }
            });
        }

        $(document).ready(function () {
            if ($('#FatherWorkingStatus').val() == 1) {
                $('#JobFieldFather').show();
            }
            else {
                $('#JobFieldFather').hide();
            }


            if ($('#FatherWorkingStatus').val() == 1) {
                $('#JobFieldMother').show();
            }
            else {
                $('#JobFieldMother').hide();
            }
        });

        function GetCitiesList(sourcecontrolname, destcontrolname) {
            var sourcecontolId = '#' + sourcecontrolname;
            var destControlId = '#' + destcontrolname;
            var StateId = $(sourcecontolId).val();

            if (StateId == "") {
                var markup = "<option value=''>Select City...</option>";
                $(destControlId).html(markup); // clear before appending new list
            }

            $.ajax({
                url: '/UserRegistration/GetCities',
                type: "POST",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                data: "{ 'Id':'" + StateId + "'}",
                success: function (cities) {
                    $(destControlId).html(""); // clear before appending new list

                    var markup = "<option value=''>Select City...</option>";
                    for (var x = 0; x < cities.length; x++) {

                        markup += "<option value=" + cities[x].Value + ">" + cities[x].Text + "</option>";

                    }
                    $(destControlId).html(markup).show();
                }
            });
        }


        function GetCasteList() {

            var Id = $('#UserReligionId').val();
            if (Id == "") {
                var markupCaste = "<option value=''>Select Caste...</option>";
                $("#UserCasteId").html(markupCaste).show();
                var markupSubCaste = "<option value=''>Select SubCaste...</option>";
                $("#UserSubCasteId").html(markupSubCaste).show();
            }

            $.ajax({
                url: '/UserRegistration/GetCastesList',
                type: "POST",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                data: "{'Id':'" + Id + "'}",
                success: function (castes) {
                    $("#UserCasteId").html(""); // clear before appending new list

                    var markup = "<option value=''>Select Caste...</option>";
                    for (var x = 0; x < castes.length; x++) {
                        markup += "<option value=" + castes[x].Value + ">" + castes[x].Text + "</option>";
                    }
                    $("#UserCasteId").html(markup).show();
                }
            });
        }
        function GetSubCasteList() {

            var Id = $('#UserCasteId').val();

            if (Id == "") {
                var markup = "<option value=''>Select SubCaste...</option>";
                $("#UserSubCasteId").html(markup).show();
            }

            $.ajax({
                url: '/UserRegistration/GetSubCastesList',
                type: "POST",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                data: "{'Id':'" + Id + "'}",
                success: function (subCastes) {
                    $("#UserSubCasteId").html(""); // clear before appending new list

                    var markup = "<option value=''>Select SubCaste...</option>";
                    for (var x = 0; x < subCastes.length; x++) {
                        markup += "<option value=" + subCastes[x].Value + ">" + subCastes[x].Text + "</option>";
                    }
                    $("#UserSubCasteId").html(markup).show();
                }
            });
        }

        function GetJobField(sourceControl, controltoShow, tdControl) {
            var sourceControlId = '#' + sourceControl;
            var controltoShowId = '#' + controltoShow;
            var tdControlId = '#' + tdControl;
            var Id = $(sourceControlId).val();

            //  $(controltoShowId).addClass("JobFieldShow");
            if (Id == 1) {
                $(tdControlId).show();
                $.ajax({
                    url: '/UserRegistration/GetJobFields',
                    type: "POST",
                    dataType: "JSON",
                    contentType: "application/json; charset=utf-8",
                    success: function (jobFields) {
                        $(controltoShowId).html(""); // clear before appending new list
                        var markup = "<option value=''>Select JobField...</option>";
                        for (var x = 0; x < jobFields.length; x++) {
                            markup += "<option value=" + jobFields[x].Value + ">" + jobFields[x].Text + "</option>";
                        }
                        $(controltoShowId).html(markup).show();
                    }
                });

            }
            else {
                $(tdControlId).hide();
            }
        }
    </script>
}
@section ContentBody{
    @using (Html.BeginForm("UserSocialDetails", "UserRegistration"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.UserReligionId, "Religion", new { @class="form-control"})
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.UserReligionId, new SelectList(Model.listReligion, "Key", "Value", 0), "Select Religion...", new { @onchange = "GetCasteList();", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserCasteId, "Caste", new { @class = "form-control" })
            <div  class="col-sm-6">
                @Html.DropDownListFor(m => m.UserCasteId, new SelectList(ViewBag.CasteList, "Value", "Text"), "Select Caste...", new { @onchange = "GetSubCasteList();", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserSubCasteId, "Sub Caste", new { @class = "form-control" })
            <div  class="col-sm-6">
                @Html.DropDownListFor(m => m.UserSubCasteId, new SelectList(ViewBag.SubCasteList, "Value", "Text"), "Select SubCaste...", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RashiId, "Rashi", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.RashiId, new SelectList(Model.listRashi, "Key", "Value", 0), "Select Rashi...", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.GotraName, "Gotra", new { @class = "form-control" })
            <div class="col-sm-6">
               @Html.TextBoxFor(m => m.GotraName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserLivingCountryId, "Country", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.UserLivingCountryId, new SelectList(Model.listLivingCountryId, "Key", "Value", 0), "Select...", new { @onchange = "GetStatesList('UserLivingCountryId','UserLivingStateId', 'UserLivingCityId');", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserLivingStateId, "State", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.UserLivingStateId, new SelectList(ViewBag.LivingStateList, "Value", "Text"), "Select State...", new { @onchange = "GetCitiesList('UserLivingStateId', 'UserLivingCityId');" , @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserLivingCityId, "City", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.UserLivingCityId, new SelectList(ViewBag.LivingCityList, "Value", "Text"), "Select City...", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserLivingZipCode, "Zip Code", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.UserLivingZipCode, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.UserCompleteAddress, "Complete Address", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.TextAreaFor(m => m.UserCompleteAddress, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AboutYou, "About You", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.TextAreaFor(m => m.AboutYou, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LanguageKnown, "Language Known", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.LanguageKnown, new SelectList(Model.ListLanguages, "Key", "Value", 0), "Select...", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DressingStyle, "Dressing Style", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.DressingStyle, new SelectList(Model.ListDressingStyle, "Key", "Value", 0), "Select...", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AboutFamily, "About Family", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.TextAreaFor(m => m.AboutFamily, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NoOfBrothers, "No Of Brothers", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.NoOfBrothers, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NoOfSisters, "No Of Sisters", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.NoOfSisters, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NoOfBrothersMarried, "Brothers Married", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.TextBoxFor(m => m.NoOfBrothersMarried, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NoOfSistersMarried, "Sisters Married", new { @class = "form-control" })
            <div class="col-sm-6">
               @Html.TextBoxFor(m => m.NoOfSistersMarried, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FamilyIncomeId, "Family Income", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.FamilyIncomeId, new SelectList(Model.listFamilyIncome, "Key", "Value"), "Select Income...", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.IsJointFamily, "Family Joint?", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.IsJointFamily, new List<SelectListItem>()
                         {
                            new SelectListItem() { Text="No",Value= "false"},
                            new SelectListItem() { Text = "Yes", Value="true"},
                       }, "Select...", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FamilyResidingCountryId, "Family Residing Country", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.FamilyResidingCountryId, new SelectList(Model.listFamilyResidingCountry, "Key", "Value", 0), "Select...", new { @onchange = "GetStatesList('FamilyResidingCountryId', 'FamilyResidingStateId', 'FamilyResidingCityId');", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FamilyResidingStateId, "Family Residing State", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.FamilyResidingStateId, new SelectList(ViewBag.FamilyResidingStateList, "Value", "Text"), "Select State...", new { @onchange = "GetCitiesList('FamilyResidingStateId', 'FamilyResidingCityId');", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FamilyResidingCityId, "Family Residing City", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.FamilyResidingCityId, new SelectList(ViewBag.FamilyResidingCityList, "Value", "Text"), "Select City...", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FatherWorkingStatus, "Father Working Status", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.FatherWorkingStatus, new SelectList(Model.ListYesNo, "Key", "Value", 0), "Select...", new { @onchange = "GetJobField('FatherWorkingStatus','FatherOccupation', 'JobFieldFather');", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FatherOccupation, "Father Job Field", new { @class = "form-control" })
            <div class="col-sm-6" id="JobFieldFather">
                @Html.DropDownListFor(m => m.FatherOccupation, new SelectList(ViewBag.JobFieldList, "Value", "Text"), "Select Occupation...", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MotherWorkingStatus, "Mother Working Status", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.MotherWorkingStatus, new SelectList(Model.ListYesNo, "Key", "Value", 0), "Select...", new { @onchange = "GetJobField('MotherWorkingStatus','MotherOccupation', 'JobFieldMother');", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.MotherOccupation, "Mother Job Field", new { @class = "form-control" })
            <div class="col-sm-6" id="JobFieldMother">
              @Html.DropDownListFor(m => m.MotherOccupation, new SelectList(ViewBag.JobFieldList, "Value", "Text", 1), "Select Occupation...", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ProfileManager, "Profile Managed By", new { @class = "form-control" })
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.ProfileManager, new SelectList(Model.ListProfileManager, "Key", "Value", 0), "Select...", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" id="SocialDetails" name="SocialDetails" value="Save and Next" class="btn btn-default" />
                <input type="submit" id="Skip" name="Skip" value="Skip For Later" class="btn btn-default" />
            </div>
        </div>

    }
}

